.cityName {
  font-size: 2em;
}
.dayTime {
  font-size: 1em;
}
.temperature {
  font-size: 100px;
  font-weight: 500;
  line-height: normal;
}
.unitsDescription {
  position: relative;
  font-size: 16px;
  top: -55px;
  display: inline-block;
}
.temperatureColumn {
}
